body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: larger;
}

.mainDiv{
    background-image: linear-gradient(
        rgb(255, 255, 100) 1%,
        rgb(252, 252, 151)
    );
}

header {
    background: #ff4646;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.menu {
    text-align: center; /* Centraliza o conteúdo do menu */
    margin-top: 40px;
    font-size: 30px;
  }

  .menu ul {
    list-style-type: none; /* Remove os pontos à esquerda dos itens da lista */
    padding: 0; /* Remove o espaçamento padrão interno da lista */
    display: inline-block; /* Permite centralizar horizontalmente com margin auto */
    margin: 0 auto; /* Centraliza horizontalmente o elemento */
  }

  .menu ul li {
    margin-bottom: 10px; /* Espaçamento entre os itens da lista (opcional) */
  }

  .menu ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #333; /* Cor dos links (opcional) */
    font-weight: 380; /* Font-weight mais fino */
    transition: all 0.1s ease; /* Transição suave para o efeito hover */
  }

  .menu ul li a:hover {
    color: #555; /* Cor do texto no hover (opcional) */
    font-weight: 500; /* Font-weight mais grosso */
  }

.carousel-item img {
    border-radius: 30px;
    margin-top: 10px;
    height: 35%; /* Ajusta a altura conforme necessário */
    width: 35%; /* Ajusta a largura conforme necessário */
    object-fit: cover; /* Garante que a imagem mantenha sua proporção */
}

.MainSection {
    width: 80%;
    margin: 90px auto 10px;
    text-align: center; /* Centraliza conteúdo horizontalmente */
}

.MainContent {
    display: flex;
    justify-content: center; /* Centraliza conteúdo horizontalmente */
    align-items: flex-start; /* Alinha itens ao topo */
    margin-top: 50px;
    margin-bottom: 30px;
}

.MainContent img{
    border-radius: 30px;
    width: 35%;
    height: 35%;
    margin-right: 15px;
}

.MainText {
    max-width: 60%; /* Limita a largura do texto para 60% */
    position: relative; /* Necessário para que 'price' seja posicionado em relação a este contêiner */
    padding-bottom: 8%; /* Espaçamento inferior para acomodar o preço */
}

.price {
    color: black;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px; /* Espaçamento interno opcional */
    border-radius: 5px; /* Cantos arredondados opcionais */ 
}

.MainText h2{
    font-size: 30px;
}

.MainSection h1 {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 55px; /* Adiciona espaço abaixo do <h1> */
    font-size: 50px;
    font-weight: 700;
}

.pMain {
    margin-left: 4%;
    margin-top: 4%;
    text-align: left;
}

.imgMain{
    order: -1;
    border: 5px solid rgba(0, 0, 0, 0.13); /* Borda preta com 50% de opacidade */
}

.back-to-top {
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Garante que o link ocupa apenas o espaço do conteúdo */
    transform: rotate(-90deg); /* Rotaciona a seta para cima */
    position: fixed; /* Posicionamento fixo em relação à janela */
    right: 20px; /* Distância da borda direita */
    bottom: 20px; /* Distância da borda inferior */
    background-color: #ececec00; /* Cor de fundo para destacar o botão */
    padding: 10px; /* Espaçamento interno */
    border-radius: 50%; /* Bordas arredondadas */
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer-image {
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    width: 20%;
    height: 20%;
}
.footer-text {
    display: flex;
    flex-direction: column;
}
.footer-contact{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.footer-contact-p{
    margin: 0 10px 0 0;
}
.aContato{
    text-decoration: none;
}

@media (max-width: 1250px) {
    /* … */
    .MainSection {
        width: 80%;
        margin: 90px auto 10px;
        text-align: center; /* Centraliza conteúdo horizontalmente */
    }

    .MainContent img{
        width: 45%;
        height: 45%;
        margin-right: 10px;
    }
    
    .MainContent {
        display: flex;
        justify-content: center; /* Centraliza conteúdo horizontalmente */
        align-items: flex-start; /* Alinha itens ao topo */
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .MainText {
        padding-bottom: 12%; /* Espaçamento inferior para acomodar o preço */
    }
    
    .MainText h2{
        font-size: 20px;
        font-weight: 600;
    }
    
    .MainSection h1 {
        text-align: center; /* Centraliza o texto */
        margin-bottom: 55px; /* Adiciona espaço abaixo do <h1> */
        font-size: 30px;
        font-weight: 700;
    }
    .imgMain{
        border: 3px solid rgba(0, 0, 0, 0.13); /* Borda preta com 50% de opacidade */
    }
  }

  @media (max-width: 685px) {
    .price {
        font-size: medium;
    }
  }

  @media (max-width: 600px) {
    .MainText {
        padding-bottom: 20%; /* Espaçamento inferior para acomodar o preço */
    }
  }

  @media (max-width: 395px) {
    .MainText {
        padding-bottom: 22%; /* Espaçamento inferior para acomodar o preço */
    }
  }

  @media (max-width: 356px) {
    .MainText {
        padding-bottom: 30%; /* Espaçamento inferior para acomodar o preço */
    }
  }